.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 170px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 9.375rem;
  font-weight: 500;
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  width: 539px;
  font-weight: normal;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 51px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-image-1 {
  width: 1033px;
  height: 738px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 940px;
    height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 720px;
    height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 243px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 870px;
}

.u-section-3 .u-image-1 {
  width: 956px;
  height: 729px;
  margin: 70px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 717px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 259px;
  }
}